
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=Architects+Daughter&family=Rampart+One&family=Zen+Kurenaido&display=swap');

body{
    margin:0px;
    
}
.topnav {
 
   
    background-color: rgb(22, 3, 3);
    overflow: hidden;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Andika New Basic', sans-serif;

  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(18, 58, 236);
    
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
     
    background-color: #aa048e;
    color: white;
  }