
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=Architects+Daughter&family=Rampart+One&family=Zen+Kurenaido&display=swap');

body{
    margin:0px;
    background:rgb(5, 2, 8)
  
}
.topnav {
 
   
    background-color: rgb(19, 43, 21);
    overflow: hidden;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Andika New Basic', sans-serif;

  }
  
  .topnav a:hover {
    background-color: rgb(40, 66, 68);
     
    
  }

  .topnav a.active {
     
    background-color: #1a6a6d;
    color: white;
   
  }

  img{
    width: 200px;
    height:200px;
    border-radius: 50% ;
    /* margin:200px;
    margin-left: 1100px; */
    float:right;
    border: 3px solid white;
 
  }
  .container{
   margin:200px;
  
  }
  .text{
    float: left;
    font-size: 30px;
    font-family: 'Andika New Basic', sans-serif;
    color:yellow;
  }